@use '@/styles/abstract/mixines' as mixin;
@use '@/styles/abstract/constants';

.list {
  @include mixin.flex-container(center, center, row, 8px);
}

.item {
  @include mixin.flex-container(center, center);
  width: 36px;
  height: 36px;
  border: 1px solid var(--light-element-color);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.disabled {
  pointer-events: none;
  background-color: var(--light-text-color);

  > a > svg {
    color: var(--white-color);
  }
}

.link {
  @include mixin.flex-container(center, center);
}
