@use '@/styles/abstract/mixines';

.list {
  margin-bottom: 32px;
  @include mixines.flex-container(stretch, center, row, 20px, wrap);

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
