@use '../../styles/base/typography';
@use '../../styles/abstract/constants';
@use '@/styles/abstract/mixines' as mixin;

.item {
  border: 1px solid var(--element-color);
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);

  &__name {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.description {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 4px;
  text-transform: capitalize;
  padding-bottom: 10px;

  @include mixin.flex-container(center, space-between);

  span {
    font-weight: bold;
    color: var(--main-color);
  }
}

.img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.2);
  transition: all constants.$transition-scale-time;

  &__container {
    border-radius: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      > img {
        transform: scale(1);
      }
    }
  }
}

.name__container {
  @include mixin.flex-container(center, space-between);

  > input {
    display: inline;
    width: inherit;
  }
}

.checkbox {
  appearance: none;
  position: relative;
  @include mixin.border(10px, var(--checkbox-border-color), 4px);
}

.checkbox:checked {
  border-color: var(--checked-bgc-color);
}

.checkbox:checked::after {
  content: '✔';
  color: var(--white-color);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
