@use '../../styles/abstract/constants';
@use '../../styles/abstract/mixines' as mixin;

.button {
  width: 100%;
  padding-block: 9.5px;
  font-size: 16px;
  transition: constants.$transition-time all;
  background-color: var(--button-bgc-color);
  color: var(--white-color);

  @include mixin.flex-container(center, center);
  @include mixin.border(1px, transparent);

  &:disabled {
    background-color: var(--button-selected-bgc-color);
    color: var(--button-selected-color);
    border: 1px solid var(--button-selected-border-color);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover:not(:disabled) {
    background-color: var(--button-hover-bgc-color);
    box-shadow: 0 3px 13px var(--button-hover-bgc-color);
  }
}

.selected {
  background-color: var(--button-selected-bgc-color);
  color: var(--button-selected-color);
  border: 1px solid var(--button-selected-border-color);

  &:hover:not(:disabled) {
    color: var(--white-color);
    border: 1px solid var(--button-selected-hover-border-color);
  }
}
