@use '@/styles/abstract/mixines';
@use '@/styles/abstract/constants';

.container {
  border-bottom: 1px solid var(--element-color);
  background-color: var(--main-bg-color);
  margin-bottom: 24px;
  @include mixines.flex-container(center, space-between, row);
}

.logo {
  margin-inline: 10px;
  width: 70px;
  height: 70px;

  > svg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.search {
  padding: 10px;
  max-width: 300px;
  transition: width 0.6s;
  display: grid;
  border-inline: 2px solid var(--element-color);
  height: 64px;
  background-color: var(--main-bg-color);
}
