@use '@/styles/abstract/mixines' as mixin;
@use '@/styles/abstract/constants';

.footer {
  margin-top: auto;
}

.container {
  padding: 16px;
  @include mixin.flex-container(center, space-between, row, 32px);
  border-top: 1px solid var(--element-color);
}

.links {
  @include mixin.tablet {
    @include mixin.flex-container(center, start, row, 13px);
  }
}

.arrow_link {
  padding: 8px;
  border: 1px solid var(--text-color);

  @include mixin.flex-container(center, center, row);
}

.logo {
  width: 80px;
  height: 50px;

  > svg {
    width: 80px;
    height: 50px;
  }
}
