@use '@/styles/abstract/constants';

.container {
  margin-bottom: 32px;
}

.img {
  &__container {
    max-width: 400px;
    margin: 32px auto;
  }
}

.title {
  text-align: center;
}

.title {
  margin-top: 32px;
}
