@use '@/styles/abstract/mixines';
@use '@/styles/abstract/constants';

.container {
  width: 100%;
  padding-block: 20px;
  border-top: 1px solid var(--element-color);
  background-color: var(--main-bg-color);
  position: fixed;
  bottom: 0;
  transition: transform constants.$transition-scale-time;
  transform: translateY(100px);
  @include mixines.flex-container(center, space-around, row, 20px);
  z-index: 100;

  > button,
  a {
    width: 150px;
  }
}

.visible {
  transform: translateY(0);
}
